$topBarHeight: 2.8125rem
$bottomBarHeight: $topBarHeight

body
    margin: 0
    font-family: "Arial"

@import "var"
@import "game"
@import "overlay"

.login
    height: 100%

// Overwrite bootstrap
button.btn.btn-fw
    width: 100%
    font-weight: 700

input.form-control, button.btn
    border: 0
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0

input.error
    border: 2px solid rgb(239, 41, 41)

hr
    border-color: rgba(238, 238, 238, 0.3)

// Tools
.left
    float: left
.right
    float: right
.center
    text-align: center

.btn.signup
    margin-bottom: 10px