@import 'config';

.join {
  background: rgba(black, 0.5);
  padding: 20px;
  text-align: center;
  label {
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
    color: $white;
    display: block;
    font-size: 25px;
  }
  button {
    height: 50px;
    transition-duration: 250ms;
    width: 280px;
    @include mq(0, desktop) {
      width: 220px;
      margin-top: 10px;
    }
    background: $black;
    color: $green;
    border: 3px $green solid;
    &:hover {
    background: $green;
    color: $black;
    }
  }
}